body {
    background: white url("images/moon.jpg") no-repeat;
    background-position: right top;
    background-size: cover;
}
h1{
    color: white;
}
li a {
    color: white;
    text-decoration:none;
}

a {
    color: white;
    text-decoration:none;
}