body{

    background: white url("images/background.jpg") no-repeat;
    background-position: center;
    background-size:  cover;
    height: 700px;
}

title{
    color: #c80;
    font-weight: bold;
}

li a{
    color: green;
}

h4{
    color:#ffffff;
}